
a{
	text-decoration: none;
	outline: none;
}

body,html{
	padding:0;margin:0;
	background-color:#F4F4F4;
}


#logo_img{
	width:100px;
	height:100px;
	/* background: url(../img/avatar.png) */
}

#wrapper-header{
	
	width:105%;
	height:100px;
	background-color:#2E2D30;
	/* opacity:0; */
}

#main-header{
	
	width:1200px;
	left:50%;
	/* margin-left:-600px; */
	height:auto;
}

#wrapper-navbar{
	float:left;
	width:100%;
	height:50px;
	background-color:#FFF;
	border-bottom:solid #EDEDED 1px;
	/* opacity:0; */
}


.navbar{
	position:relative;
	width:1200px;
	left:50%;
	margin-left:-600px;
	height:100%;
	top:0;
}

#fleche-nav-1,#fleche-nav-2,#fleche-nav-3{
	float:left;
	margin-top:26px;
	/* background: url(./src/img/fleche-nav.svg) no-repeat ; */
	width:5px;
	height:10px;
	margin-left:5px;
}


.top-rated,.recent,.oldies{
	float:left;
	text-align:left;
	font-family: 'Roboto',sans-serif;
    font-size: 13px;
	height:40px;
	line-height:40px;
    margin-top:10px;
	cursor:pointer;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
	letter-spacing:1.5px;
}

.top-rated{color:#666;margin-left:15px;font-weight:500;}
.recent,.oldies{color: #CCC;margin-left:80px;font-weight:500;margin-left:40px;}

.top-rated:hover,.recent:hover,.oldies:hover{color:#666;opacity:1;}

#fleche-nav-1,#fleche-nav-2,#fleche-nav-3{
	float:left;
	margin-top:26px;
	/* background: url(../img/fleche-nav.svg) no-repeat ; */
	width:5px;
	height:10px;
	margin-left:5px;
}

#fleche-nav-2,#fleche-nav-3{opacity:0.5;}


#main_tip_search{
	/* float:right; */
	margin: 0 auto;
	width:320px;
	height:120px;
	display:block;
}
#tip_search_input{
	float: left;
	margin-top: 20px;
	width: 250px;
	height:30px;
}
#tip_search_btn{
	float: left;
	margin-top: 20px;
	margin-left: 5px;
	width: 50px;
	height:36px;
}


.work figure {
    float:left;
	width:calc(100% / 4 - 30px);
    height:250px;
    line-height:auto;
    position: relative;
    padding: 0 !important;
    margin: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	background-color:#FFF;
}

.work figure.white dl{
    background: #FFF;
}

.work figure img {
	max-width: 90%;
    height: 200px;
	margin-left:5%;
	margin-top:5%;
	/* object-fit: cover; */
}

.pagination-ul{
	margin-top: 20px;
	height: 60px;
	display: block;
	text-align: center;
	margin-right: 60px;
}

.pagination-ul li{
	margin-left: 15px;
	display: inline-block;
        
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px;
	border: 1px solid #ccc;
	color: #000;
	background-color: #ffffff;
}

.pagination-ul li.currentpage{
	/* background-color: #38cbae; */
	color:#38cbae;
}

#part-info{
	/* float:left; */
	/* width:calc(100% - 53px); */
	width: 250px;
	text-align:left;
	line-height:44px;
	font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
	font-weight:400;
	color:#666;
	text-align: center;
	margin: 0 auto;
	margin-top: -6px;
	height:44px;
}
/* .logo{
	
    margin-top:13.5px;
	left:15px;
}

#stripes{
	background: url(../img/stripes.svg) no-repeat;
	width:27px;
	height:20px;
	right:15px;
	top:22.5px;
	cursor:pointer;
	display:none;
} */

/* daelim_plan_insert */




.daelim_ins_wrapper{
	width: 100px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.daelim_plan_container_left{
	width: 30%;
	float: left;
}
.daelim_plan_container_right{
	margin-top: 20px;
	width: 70%;
	float: left;
}

.daelim_ins_wrapper2{
	clear: both;
	margin-left: 20px;
}

.daelim_ins_wrapper3{
	clear: both;
	margin-top: 20px;
}

.daelim_ins_from{
	width: 100px;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	padding: 5px 10px 5px 5px;
	margin-bottom: 30px;
}
.daelim_ins_from2{
	width: 200px;
	height: 30px;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	padding: 5px 10px 5px 5px;
	margin-bottom: 30px;
}

.daelim_ins_from3{
	width: 200px;
	height: 30px;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	padding: 5px 10px 5px 5px;
	margin-bottom: 30px;
	margin-left: 20px;
}


.daelim_plan_insert_text{
	margin-left: 5px;
	margin-bottom: 5px;
}

.daelim_plan_wrapper{
	margin: 0 auto;
	width: 80%;
}

#daelim_ins_fileupload_wrapper{
	clear: both;
	padding-top: 10px;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
}

#daelim_ins_wrapper3_text{
	float: left;

}

#daelim_ins_wrapper3_btn{
	float: left;
	margin-left: 10px;
	margin-top: -4px;
}

.work{
	overflow:hidden;
		height:auto;
		opacity: 0;
		transition: 'opacity 1s';
		opacity: 1;
}
		
		